block head
  header
    title= `${title} | ${h.siteName}`
    nav.nav
      .nav__section.nav__section--pages
        li.nav__item
          a.nav__link(href="/")
            span Home
      each item in h.menu
        li.nav__item
          a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
            span #{item.title}